<link rel="stylesheet" href="modules/orders/orders.css" />
<header-directive header="page"></header-directive>
<main class="main">
    <section>

        <div class="orders-container">
            <div class="tabs-box">
                <button ng-click="query='' ; currentPage = 0" class="tab">All Orders</button>
                <button ng-click="query='Free Product' ; currentPage = 0" class="tab">Free Product</button>
                <button ng-click="query='Unfulfilled' ; currentPage = 0" class="tab">Unfulfilled</button>
                <button ng-click="query='Failed' ; currentPage = 0" class="tab">Failed</button>
            </div>
            <div class="input-box">
                <select class="input input-select">
                    <option ng-click="query=''" value="Filter Orders">Filter Orders</option>
                </select>
                <input ng-model="query" type="search" class="input input-search" placeholder="Start typing to search…" />
            </div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Order</th>
                        <th scope="col">Date</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Payment Status</th>
                        <th scope="col">Campaign Status</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders | filter : query | limitTo : pageSize : (currentPage - 1) * pageSize track by order.id">
                        <td data-label="Order">
                            <a href="#">#{{order.id}}</a>
                        </td>
                        <td data-label="Date">{{order.date}}</td>
                        <td data-label="Customer">{{order.customer}}</td>
                        <td data-label="Payment Status">
                            <span class="{{order.payment_status.class}} status">{{order.payment_status.text}}</span>
                        </td>
                        <td data-label="Campaign Status">
                            <span class="{{order.campaign_status.class}} status">{{order.campaign_status.text}}</span>
                        </td>
                        <td data-label="Total">${{order.total}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-box">
                <button ng-disabled="(currentPage == 0 || (orders | filter:query).length < 10)" ng-click="currentPage=currentPage-1" class="icon left-icon"></button>
                <button ng-disabled="(currentPage >= orders.length/pageSize - 1 || (orders | filter:query).length < 10)" ng-click="currentPage=currentPage+1"
                    class="icon right-icon"></button>
            </div>
        </div>
    </section>
</main>