<link rel="stylesheet" href="views/new-campaign/new-campaign.css" />
<header-directive header="page"></header-directive>
<main class="main">
    <!-- Product Display -->
    <section>
        <div class="row">
            <div class="description-box">
                <p><strong>Product display</strong></p>
                <p>Manage the display of your product within Shiff.</p>
            </div>
            <div class="input-box">
                <div class="add-image-box shadow-box">
                    <p>Add Image of your product (1000x1000px)</p>
                    <a class="btn pull-right" href="#">Add image</a>
                </div>
                <div class="shadow-box">
                    <div>
                        <label>Product Title</label>
                        <input class="input mb-1" type="text" placeholder="E.g. Sony Playstation 4" />
                        <label>Tagline</label>
                        <input class="input mb-1" type="text" placeholder="E.g. Best gaming platform" />
                    </div>
                    <div class="row">
                        <div class="width50 mr-1">
                            <label>Product category</label>
                            <input class="input" type="text" placeholder="Select" />
                        </div>
                        <div class="width50">
                            <label>Tags</label>
                            <input class="input" type="text" placeholder="Start typing to add tags..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Price -->
    <section>
        <div class="row">
            <div class="description-box">
                <p>Product Price</p>
                <p>Set the discount price for infuencers (must be at least 20% off your regular retail price).</p>
                <p>
                    <a href="#">View detailed pricing policy.</a>
                </p>
            </div>
            <div class="input-box">
                <div class="row shadow-box">
                    <div class="width50 mr-1">
                        <label>Price on Shiff</label>
                        <input class="input" type="text" />
                    </div>
                    <div class="width50">
                        <label>Regular Retail Price</label>
                        <input class="input" type="text" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Quantity -->
    <section>
        <div class="row">
            <div class="description-box">
                <p>Product Quantity</p>
                <p>Set the quantity of products within the during of your campaign.</p>
            </div>
            <div class="input-box">
                <div class="row shadow-box">
                    <div class="col width100">
                        <label>Product Quantity</label>
                        <input class="input" type="number" placeholder="Select..." />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Campaign Dates -->
    <section>
        <div class="row">
            <div class="description-box">
                <p>Campaign Dates</p>
                <p>Set the duration of your campaign.</p>
            </div>
            <div class="input-box">
                <div class="row shadow-box">
                    <input class="input" type="date" />
                </div>
            </div>
        </div>
    </section>
    <!-- Social Media Chanels -->
    <section>
        <div class="row">
            <div class="description-box">
                <p>Social Media Chanels</p>
                <p>Customize the social media channels you want to promote your product on.</p>
            </div>
            <div class="input-box">
                <div class="row shadow-box">
                    <div class="width50 mr-1">
                        <label>Instagram</label>
                        <input class="input" type="text" placeholder="Activate" />
                    </div>
                    <div class="width50">
                        <label>Facebook</label>
                        <input class="input" type="text" placeholder="Activate" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- When is the product free? -->
    <section>
        <div class="row">
            <div class="description-box">
                <p>When is the product free?</p>
                <p>Set the amount you are willing to grant per impression (calculation based on your Shiff product price). Based
                    on this input, users that reach the goal of impressions will receive your product for free.</p>
            </div>
            <div class="input-box">
                <div class="col shadow-box">
                    <p>Set price per impression</p>
                    <label>400 impressions required from an influencer to get the product for free.</label>
                    <input class="input-range" type="range">
                </div>
            </div>
        </div>
    </section>
    <!-- What if the campaign overperforms? -->
    <section>
        <div class="row">
            <div class="description-box">
                <p>What if the campaign overperforms?</p>
                <p>Set the reward for influencers that overperform the targeted campaign goals.</p>
            </div>
            <div class="input-box">
                <div class="col shadow-box">
                    <label>Choose Reward For Influencers</label>
                    <input class="input" type="text" placeholder="None" />
                </div>
            </div>
        </div>
    </section>
    <!-- Post Guidelines -->
    <section>
        <div class="row">
            <div class="description-box">
                <p>Post Guidelines</p>
                <p>Set what an approved post/image must contain in terms of copy, imagery, hashtags and handles.</p>
            </div>
            <div class="input-box">
                <div class="col shadow-box">
                    <label>Copy Guidelines</label>
                    <textarea class="input-text-area mb-1" placeholder="Describe guidelines for copy…"></textarea>
                    <label>Imagery Guidelines</label>
                    <textarea class="input-text-area mb-1" placeholder="Describe guidelines for imagery"></textarea>
                    <div class="row">
                        <div class="col width50 mr-1">
                            <label>Hashtags</label>
                            <input class="input" type="text" placeholder="Start typing to add hastags..." />
                        </div>
                        <div class="col width50">
                            <label>Handles</label>
                            <input class="input" type="text" placeholder="Start typing to add handles..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Create Campaign -->
    <section>
        <div class="row">
            <div class="description-box"></div>
            <div class="input-box">
                <a href="#" class="btn">Create Campaign</a>
            </div>
        </div>
    </section>
</main>