.app-menu .icon-home {
    background-image: url("../../assets/icons/menu-home-selected-icon.png");
}

.item .menu-home {
    color: #fffefe;
}

/* Main */

.main {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

@media (min-width: 991px) {
    .main {
        background-image: url("../../assets/desktop.jpg");
        background-position: 80% 50%;
        background-repeat: no-repeat;
        background-size: 30%;
    }
}

.main-text-box {
    max-width: 400px;
}

@media (min-width: 767px) {
    .main-text-box {
        position: relative;
        left: calc(1rem + 48px + 1rem);
    }
}

.main-text-box p:nth-child(1) {
    color: #202b36;
    font-size: 26px;
    margin-bottom: 1rem;
}

.main-text-box p:nth-child(2) {
    color: #627381;
    font-size: 20px;
    margin-bottom: 2rem;
}