@font-face {
  font-family: "San Francisco";
  src: url("assets/fonts/SanFranciscoDisplay-Medium.otf") format("otf");
}

body, input, textarea {
  font-family: "San Francisco", sans-serif;
}

body,
h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.app-grid {
  display: grid;
  height: 100vh;
  grid-template: auto / 48px repeat(11, 1fr);
  grid-template-areas: "app-menu main main main main main main main main main main main";
}

@media (min-width: 991px) {
  .app-grid {
    grid-template: auto / repeat(12, 1fr);
    grid-template-areas: "app-menu app-menu main main main main main main main main main main";
  }
}

/* app-menu */

.app-menu {
  grid-area: app-menu;
  background-color: #191414;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 991px) {
  .app-menu {
    display: block;
    padding: 0 1rem;
  }
}

/* Icons */

.app-menu .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

@media (min-width: 991px) {
  .app-menu .icon {
    margin-right: 1rem;
  }
}

.app-menu .icon-home {
  background-image: url("assets/icons/menu-home-icon.png");
}

.app-menu .icon-campaigns {
  background-image: url("assets/icons/menu-campaigns-icon.png");
}

.app-menu .icon-products {
  background-image: url("assets/icons/menu-products-icon.png");
}

.app-menu .icon-orders {
  background-image: url("assets/icons/menu-orders-icon.png");
}

.app-menu .icon-reports {
  background-image: url("assets/icons/menu-reports-icon.png");
}

.app-menu .item .app-notification {
  margin-left: auto;
  background-color: #4c89fe;
  border-radius: 12px;
  width: 25px;
  height: 16px;
  display: none;
  justify-content: center;
  align-items: center;
}

@media (min-width: 991px) {
  .app-menu .item .app-notification {
    display: flex
  }
}

.app-menu .item .app-notification .counter {
  font-size: 11px;
  color: #fff;
}

/* Logo */

.app-menu .logo-box {
  margin-bottom: 2rem;
  height: 56px;
  display: flex;
  align-items: flex-end;
}

.logo-box .logo {
  font-size: 32px;
  color: #fffefe;
}

.logo-box .logo::after {
  content: "S";
}

@media (min-width: 991px) {
  .logo-box .logo::after {
    content: "SHIFF";
  }
}

/* Navigation */

.nav {
  margin-bottom: 2rem;
}

.item {
  display: flex;
  align-items: center;
}

.item a {
  color: #505F6D;
  font-size: 14px;
  padding: 8px 8px;
}

@media (min-width: 991px) {
  .item a {
    padding: 8px 8px 8px 0;
  }
}

.item a span {
  display: none;
}

@media (min-width: 991px) {
  .item a span {
    display: inline
  }
}

/* Main */

.app-main {
  grid-area: main;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* Header */

.app-main .app-header {
  background-color: #E5E9ED;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

/* Search */

.search-box {
  width: 80%;
}

@media (min-width: 767px) {
  .search-box {
    width: 80%;
  }
}

.search-box .search {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  height: 36px;
  width: 100%;
}

/* User */

.user-box {
  width: 20%;
  display: flex;
  justify-content: center;
}

@media (min-width: 767px) {
  .user-box {
    width: 20%;
  }
}

.user-box .avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 767px) {
  .user-box .avatar {
    margin-right: 6px;
  }
}

.user-box .user {
  display: flex;
  flex-direction: column;
  color: #192028;
}

.user .name {
  font-size: 14px;
  display: none;
}

@media (min-width: 767px) {
  .user .name {
    display: inline
  }
}

.user .company {
  font-size: 12px;
  display: none;
}

@media (min-width: 767px) {
  .user .company {
    display: inline
  }
}

.app-content-container {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #ffaa01;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #192028;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0 1rem;
}