body,
h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template: auto / 48px repeat(11, 1fr);
  grid-template-areas: "menu main main main main main main main main main main main";
}

@media (min-width: 991px) {
  .grid {
    grid-template: auto / repeat(12, 1fr);
    grid-template-areas: "menu menu main main main main main main main main main main";
  }
}

/* Menu */

.menu {
  grid-area: menu;
  background-color: #191414;
  padding: 1rem;
}

/* Icons */

.menu .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-right: 1rem;
  background-position: center;
}

.menu .icon-home {
  background-image: url("assets/icons/menu-home-icon.png");
}

.menu .icon-campaigns {
  background-image: url("assets/icons/menu-campaigns-icon.png");
}

.menu .icon-products {
  background-image: url("assets/icons/menu-products-icon.png");
}

.menu .icon-orders {
  background-image: url("assets/icons/menu-orders-icon.png");
}

.menu .icon-reports {
  background-image: url("assets/icons/menu-reports-icon.png");
}

.menu .notification {
  margin-left: auto;
  background-color: #4c89fe;
  border-radius: 12px;
  width: 25px;
  height: 16px;
  display: none;
  justify-content: center;
  align-items: center;
}

@media (min-width: 991px) {
  .menu .notification {
    display: flex
  }
}

.menu .notification .counter {
  font-size: 11px;
  color: #fff;
}

/* Logo */

.menu .logo-box {
  margin-bottom: 2rem;
}

.logo-box .logo {
  font-size: 32px;
  color: #fffefe;
}

.logo-box .logo::after {
  content: "S";
}

@media (min-width: 991px) {
  .logo-box .logo::after {
    content: "SHIFF";
  }
}

/* Navigation */

.nav {
  margin-bottom: 2rem;
}

.item {
  display: flex;
  align-items: center;
}

.item a {
  color: #505F6D;
  font-size: 14px;
  padding: 8px 8px 8px 0;
}

.item a span {
  display: none;
}

@media (min-width: 991px) {
  .item a span {
    display: inline
  }
}

/* Header */

.header {
  background-color: #E5E9ED;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

/* Search */

.search-box {
  width: 50%;
}

@media (min-width: 767px) {
  .search-box {
    width: 80%;
  }
}

.search-box .search {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  height: 36px;
  width: 100%;
}

/* User */

.user-box {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media (min-width: 767px) {
  .user-box {
    width: 20%;
  }
}

.user-box .avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 6px;
}

.user-box .user {
  display: flex;
  flex-direction: column;
  color: #192028;
}

.user .name {
  font-size: 14px;
  display: none;
}

@media (min-width: 575px) {
  .user .name {
    display: inline
  }
}

.user .company {
  font-size: 12px;
  display: none;
}

@media (min-width: 575px) {
  .user .company {
    display: inline
  }
}

/* Main */

.main {
  grid-area: main;
  background-color: #fff;
}