.app-menu .icon-home {
    background-image: url("../../assets/icons/menu-home-selected-icon.png");
}

.item .home {
    color: #fffefe;
}

/* Header */

.header {
    border-bottom: 1px solid #dfe3e8;
    display: flex;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.company-logo {
    height: 48px;
    width: 48px;
    margin: 0 1rem;
    display: none;
}

@media (min-width: 767px) {
    .company-logo {
        display: block;
    }
}

.header-text-box {
    display: flex;
    flex-direction: column;
}

.header-text-box .company-name {
    color: #202b36;
    font-size: 14px;
}

.header-text-box p {
    color: #202b36;
    font-size: 28.0px;
}

/* Main */

.main {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

@media (min-width: 991px) {
    .main {
        background-image: url("../../assets/desktop.jpg");
        background-position: 80% 50%;
        background-repeat: no-repeat;
        background-size: 30%;
    }
}

.main-text-box {
    max-width: 400px;
}

@media (min-width: 767px) {
    .main-text-box {
        position: relative;
        left: calc(1rem + 48px + 1rem);
    }
}

.main-text-box p:nth-child(1) {
    color: #202b36;
    font-size: 26px;
    margin-bottom: 1rem;
}

.main-text-box p:nth-child(2) {
    color: #627381;
    font-size: 20px;
    margin-bottom: 2rem;
}

.main-text-box .btn {
    background-color: #ffaa01;
    height: 43px;
    max-width: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #192028;
    font-size: 1rem;
    border-radius: 2px;
}