.product {
    display: flex;
    flex-direction: column;
    padding: 8px 1rem;
    border-bottom: 1px solid #dee3e8;
}

@media (min-width: 576px) {
    .product {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 767px) {
    .product {
        flex-direction: row;

    }
}

.product-box {
    display: flex;
    flex-direction: column;
}

.product-box .product-name {
    font-weight: bold;
}

.product img {
    height: 64px;
    width: 64px;
    margin-right: 1rem;
    background-color: #ebedf0;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 2px;
    display: none;
}

@media (min-width: 767px) {
    .product img {
        display: block;
    }
}

.product p {
    color: #202b36;
    font-size: 14px;
    line-height: 1.4;
}

.product .edit-btn {
    color: #202b36;
    font-size: 14px;
    border: 1px solid #c3ccd5;
    border-radius: 4px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

@media (min-width: 576px) {
    .product .edit-btn {
        width: 58px;
        margin-left: auto;
    }
}