<div class="container">
  <header class="header">
    <app-logo></app-logo>
    <div class="search">
      <span class="base-url">github.com/</span>
      <input
        class="input"
        type="text"
        placeholder="username"
        value="{{ username }}"
        (input)="handleOnChange($event)"
        (keyup.enter)="handleOnClick()"
      />
      <button class="cta-btn" (click)="handleOnClick()">Search</button>
    </div>
  </header>
  <main class="grid">
    <aside class="user-profile">
      <div *ngIf="user">
        <div class="about">
          <img class="avatar" src="{{ user.avatar_url }}" alt="avatar" />
          <div class="column">
            <span class="name">{{ user.name }}</span>
            <a
              href="{{ user.blog }}"
              target="_blank"
              rel="noopener"
              class="website"
              >{{ user.blog }}</a
            >
          </div>
        </div>
        <div class="stats">
          <div class="stats-item">
            <span class="stat-name">Followers</span
            ><span>{{ user.followers }}</span>
          </div>
          <div class="stats-item">
            <span class="stat-name">Following</span
            ><span>{{ user.following }}</span>
          </div>
          <div class="stats-item">
            <span class="stat-name">Repos</span
            ><span>{{ user.public_repos }}</span>
          </div>
          <div class="stats-item">
            <span class="stat-name">Gists</span
            ><span>{{ user.public_gists }}</span>
          </div>
        </div>
        <div class="langs" *ngIf="languages && languages.length > 0">
          <ul class="langs-list">
            <li *ngFor="let lang of languages" class="lang-item">
              {{ lang }}
            </li>
          </ul>
        </div>
        <div class="dates">
          <div class="dates-item">
            <span class="stat-name">Joined</span>
            <span class="stat-value">{{ formatDate(user.created_at) }}</span>
          </div>
          <div class="dates-item">
            <span class="stat-name">Location</span>
            <span class="stat-value">{{ user.location }}</span>
          </div>
        </div>
      </div>
    </aside>
    <section class="user-activities">latest activity</section>
  </main>
</div>
