.app-menu .icon-campaigns {
    background-image: url("../../assets/icons/menu-campaigns-selected-icon.png");
}

.item .menu-campaigns {
    color: #fffefe;
}

section {
    padding: 2rem 0;
}

@media (min-width: 767px) {
    section {
        padding: 2rem 1rem;
    }
}

.campaigns-container {
    padding: 2rem 1rem;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
    border-radius: 4px;
    border: 1px solid #dee3e8;
}

.campaigns-container .products-box {
    border-top: 1px solid #dee3e8;
}

.campaigns-container .campaigns-container-text p {
    margin-bottom: 1rem;
    color: #202b36;
}

.campaigns-container .campaigns-container-text p:nth-child(1) {
    font-size: 1rem;
    font-weight: bold;
}

.campaigns-container .campaigns-container-text p:nth-child(2) {
    font-size: 14px;
}