<link rel="stylesheet" href="views/campaigns/campaigns.css" />
<header-directive header="page"></header-directive>
<main class="main">
    <section>
        <notification-directive notification="notification"></notification-directive>
        <div class="campaigns-container">
            <div class="campaigns-container-text">
                <p>Active Campaigns</p>
                <p>Product</p>
            </div>
            <div class="products-box">
                <campaign-directive campaign="campaign" ng-repeat="campaign in campaigns"></campaign-directive>
            </div>
        </div>
    </section>
</main>