.app-menu .icon-campaigns {
    background-image: url("../../assets/icons/menu-campaigns-selected-icon.png");
}

.item .menu-campaigns {
    color: #fffefe;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

section p {
    color: #202b36;
}

section p:nth-child(1) {
    font-size: 1rem;
}

section p:nth-child(1) {
    color: #202b36;
    font-size: 14px;
}

.campaigns-container {
    padding: 2rem 2rem;
}