.app-menu .icon-products {
    background-image: url("../../assets/icons/menu-products-selected-icon.png");
}

.item .menu-products {
    color: #fffefe;
}

/* Main */

section {
    padding: 2rem 0;
}

@media (min-width: 767px) {
    section {
        padding: 2rem 1rem;
    }
}

.products-container {
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
    border-radius: 4px;
    border: 1px solid #dee3e8;
}